[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.0.1"
requests = "==2.22.0"
streamlit = "==0.70.0"

[dev-packages]

[requires]
python_version = "3.9"
